.auth-wrap {
    .wrap {
      padding: 80px 50px;
      /deep/ .van-cell {
        padding: 20px 0;
        &::after {
          left: 0;
          right: 0;
        }
      }
      
      .submit-btn {
        margin-top: 90px;
        height: 90px;
        border-radius: 10px;
        background: $edit-buttons-bg;
        border-color: $edit-buttons-bg;
      }
      /deep/ .van-button--disabled {
        background: $disabled-bg;
        border-color: $disabled-bg;
        cursor: not-allowed;
        opacity: 0.5;
      }
      
      .cell-custom-item {
        height: 140px;
        align-items: flex-end;
      }
    }
    .dis-valid {
      padding: 50px 50px;
    }
    .edit-dis-valid {
      padding: 40px 50px;
    }
  }