
@mixin fixed-btns-bottom-wrap {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: 100;
    min-height: 110px;
    user-select: none;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all .3s ease;

    .icon-add {
        font-size: 40px;
        padding: 0 10px;
    }

    .text {
        font-size: 36px;
    }
}

@mixin normal-btns-wrap {
    position: static;
    width: auto;
    border: 1px solid #fbf1eb;
    border-radius: 10px;
    min-height: 200px;
    margin: 122px 30px;
    box-shadow: 0 0 50px #fbf1eb;

    .text {
        font-size: 40px;
    }
}