
//主题
$theme-bg:#00baad;

//主背景色
$theme-gray-bg:#f7f7f7;
//字体色
$text-color:#333;
// 编辑提交类按钮1
$edit-buttons-bg:#fe5502;

//加入购物车
$shop-cart-btn-bg:#fe8a02;
//活动色
$font-active-cls:$edit-buttons-bg;

//边框
$border-active-cls:$edit-buttons-bg;
//发送验证码
$send-msg-bg:$edit-buttons-bg;

//禁用
$disabled-bg:#ccc;

//有导航栏高度
$nav-height:92px;

